@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior:smooth ;
}

 body{
    background: #232020;
    color: white;
} 


header nav{
    height: 15vh;
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 45px;
    color:rgb(0, 145, 255);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header ul{
    display: flex;
    gap: 5rem;
    list-style: none;
}

header a{
    display: block;
    color: white;
    text-decoration: none;

    border-radius: .2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 2px solid rgb(0, 145, 255);;

    overflow: hidden;
    position: relative;
}

header a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    border-radius: .1rem;
    z-index: -1;

    transition: .2s ease-in;
    transform: translateX(-101%);
    background: rgb(0, 145, 255);;
}

header a:hover::before{
    transform: translateX(0);
}

header ul li:nth-child(1) a{
    background: rgb(0, 145, 255);;
    color:white;
}

#btn{
    all: unset;
    cursor: pointer;
    transition: .5s ease-out;
    font-size: 30px;

    display: none;
}

#btn:hover{
    transform: rotate(180deg);
    color: rgb(0, 145, 255);;
}

/* .s-container */

.s-container{
    min-height: 80vh;
    width: 70%;
    margin: auto;

    display: flex;
    align-items: center;
    gap: 3rem;
}

.icons{
    position: absolute;
    left: 30px;
    top: 50%;
    transform:translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icons .line{
    height: 40px;
    width: 3.5px;
    border-radius: 5rem;
    background:white; 
}

.icons a{
    font-size: 20px;
    color:white;
    background: rgb(0, 145, 255);;
    text-decoration: none;

    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: .1s ease-in;
}

.icons a:hover{
    transform: scale(1.1);
}

.header h3{
    font-size: 25px;
    color: rgb(0, 145, 255);;
    font-weight: 200;
    text-align: center;
    margin-bottom: -1rem;
}

.header h1{
    font-size: 50px;
    position: relative;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header h1::after{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 5px;
    border-radius: 5rem;
    background: rgb(0, 145, 255);;
    border-radius: 1rem;
}

.image{
    width: 320px;
    height: 320px;
}

img{
    width: 200px;
}

.image img{
    width: 320px; 
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.title{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 3.3rem;
    margin-bottom: 1rem;
}

.title .auto-type{
    color: rgb(0, 145, 255);;
}

.title span{
    font-weight: 700;
}

.subtitle{
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.description{
    line-height: 1.6rem;
    margin-bottom: 2rem;
    color: #dfdfdf;
    width: 85%;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.buttons a{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;

    padding: .8rem 1.6rem;
    outline: none;
    border: none;
    border-radius: 10px;

    transition: .3s ease-out;
    cursor: pointer;
    box-shadow:3px 3px 0 rgb(0, 0, 0, 0.4);
}

.buttons a:hover{
    transform: scale(1.05);
    color: white;
}

.buttons a{
    text-decoration: none;
    background: rgb(0, 145, 255);;
    color: white;
}

.buttons a:nth-child(2){
    text-decoration: none;
    background-color: white;
    color: #111;
}

.buttons buttons:hover{
    background-color: rgb(0, 145, 255);;
}

.buttons a:nth-child(2):hover{
    background-color: rgb(0, 145, 255);;
    color: white;
}

/* .s-container */

/* project section */

.projects-section{
    margin: 80px 0;
}

.projects-section .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1000px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
}

.project-card{
    background: #0d0d0d;
    border-radius: 1rem;
    max-width: 450px;
}

.project-image-container{
    overflow: hidden;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    object-fit: cover;
}

.project-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: .2s ease-in-out;
}

.project-image:hover{
    transform: scale(1.05);
}

.project-content{
    border-radius: 0px 0px 10px 10px;
    padding: 1.5rem 1rem;

    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
}

.project-content > p{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    white-space: pre-wrap;
}

.check-project{
    display: flex;
    gap: 1rem;
}

.check-project a{
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.check-project a:hover{
    color: rgb(0, 145, 255);;
}

/* project section */

/* Skills Section */
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    height: 450px;
    text-align: center;
}

.icon {
    font-size: 2rem;
    color: #5e2b97;
    margin-bottom: 10px;
}

.skills h2 {
    color: #333;
}

.skills h3 {
    color: #5e2b97;
    margin-top: 20px;
}

.skills p {
    color: #666;
    margin: 10px 0;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    color: #666;
}

.skills ul li {
    margin: 5px 0;
}
@media only screen and (max-width: 420px) {
    .skills {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .card {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 680px) {
    .skills {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .card {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}
/* Skills Section */

/* contact */

.contact{
    position: relative;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
    padding-block: 2rem;
}

.contact .container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .wrapper{
    font-size: 30px;
}

.contact .grp{
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.contact .grp:not(:last-child){
    margin-bottom: 1.5rem;
}

.contact .grp i{
    font-size: 40px;
    margin-right: 1rem;
}

.contact .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 3rem;
}

.contact .footer p{
    font-size: 40px;
    font-weight: 200;
    color: white;
    margin-bottom: 2rem;
    position: relative;
}

.contact .footer p::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    height: 2px;
    background: white;
    border-radius: 1rem;
}

.contact .footer a{
    text-decoration: none;
    background: rgb(0, 145, 255);;
    color: #eee;
    font-weight: bold;
    font-size: 20px;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    padding: 1rem 2rem;
    transition: .2s ease-in;
}

.contact .footer a:hover{
    transform: scale(1.05);
}

/* contact */

.back-top{
    text-decoration: none;
    font-size: 2rem;
    color: #eee;

    background: crimson;
    border-radius: 50%;

    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 2%;
    right: 2%;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8 );
    transition: .4s ease-out;

    opacity:0;
    pointer-events: none;
}

.back-top:hover{
    transform: translateY(-20px);
}

.back-top.active{
    opacity: 1;
    pointer-events: auto;

}

/* Responsiveness */
@media only screen and (max-width: 1100px){
    .s-container, header nav{
        width: 80%;
    }
}


@media only screen and (max-width: 950px){
    #btn{
        display: block;
    }

    header ul{
        position: absolute;
        right: 5vh;
        top: 15vh;
        width: 300px;
        min-height: 400px;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        background: #0000007f;
        backdrop-filter: blur(5px);

        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    header ul.show{
        display: flex;
    }
    
    .s-container{
        width: 90%;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-block: 3rem;
        padding-bottom: 2rem;
    }

    .content{
        width: 90%;
        text-align: center;
    }

    .title{
        font-size: 2.5rem;
    }

    .desc{
        width: 100%;
    }

    .buttons{
        margin: 1rem auto;
    }

    .image{
        width: 250px;
        height: 250px;
    }

    .image img{
        width: 100%;
    }

    .image img{
        height: 250px;
    }
}

@media only screen and (max-width: 768px){
    .header h1{
        font-size: 35px !important;
        margin-top: .7rem;
    }

    .contact .header h3{
        font-size: 20px;
        margin-bottom: -.5rem;
    }

    .contact .grp i, .contact .grp span{
        font-size: 25px;
    }

    .footer p{
        font-size: 27px !important;
    }
    .footer a{
        font-size: 15px !important;
        padding: -.7rem
    }
}

@media only screen and (max-width: 550px){
    header ul{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .icons{
        display: none;
    }

    .content{
        width: 100%;
    }

    .title{
        font-size: 2.3rem;
    }
    .contact .grp{
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 420px){
    header h1{
        font-size: 35px;
    }

    .contact .wrapper{
        font-size: 5px;
    }
    .contact .grp{
        text-align: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        gap: .1rem;
    }

    .contact .grp i{
        font-size: 20px;
        margin-right: .5rem;
    }
    .contact .grp span{
        font-size: 20px;
        margin-right: .6rem;
    }

}